.vscode/
.venv/

**/__pycache__/
.aider*
.env

.idea/

# Manually add results if you want to share them
lm_eval/tasks/etr_problems/results/*

# Development jsonl files
datasets/dev_*.jsonl

# This file gets copied over when you run run_evaluation.sh, so it shouldn't get checked in!
datasets/etr_for_lm_eval.jsonl

# Package
etr_case_generator.egg-info/

