.vscode/
.venv/

**/__pycache__/
.aider*
.env

.idea/

# Results directories - block by default but allow specific ones
lm_eval/tasks/etr_problems/results/*
!lm_eval/tasks/etr_problems/results/gpt-4-turbo/
!lm_eval/tasks/etr_problems/results/claude-2.1/

# Development jsonl files
datasets/dev_*.jsonl

# This file gets copied over when you run run_evaluation.sh, so it shouldn't get checked in!
datasets/etr_for_lm_eval.jsonl

# Package
etr_case_generator.egg-info/

